/manual/Content/ConfigurationSetup.tex
/playground
/.gitignore~
*.log
*.out
*.toc
*.aux
*.blg
*.bbl
*.idx
/manual/auto
/manual/bib


/manual/Content/auto/
/manual/Makefile
/manual/clean
/manual/clean.sh
*jpg
*.png
*~
/todos/pics
/.emacsConfiguration
/notes/C---ABC/
/notes/Bash-ABC/
/notes/Git-Cheat-Sheet/

*.o
*.ui
